[Router]
# IP-Adresse oder Hostname deines Routers
routerip = 192.168.0.1

[Database]
# Name der SQLite Datenbank für Log- und Statistikdaten
db_name = router_data.db
# Name der Sprachdatenbank für Übersetzungen im Dashboard/Report
lang_db_name = router_lang.db

[Telnet]
# Benutzername für den Telnet-Login am Router (oft 'admin' oder 'root')
username = DEIN_TELNET_BENUTZER
# Passwort für den Telnet-Login
password = DEIN_TELNET_PASSWORT

[SNMP]
# SNMP Community String (Standard oft 'public' oder modellspezifisch)
community = DEIN_SNMP_COMMUNITY_STRING

[GUI]
# Benutzername für das Web-Interface des Routers
username = DEIN_ROUTER_BENUTZER
# Passwort für das Web-Interface
password = DEIN_ROUTER_PASSWORT

[Email]
# Postausgangsserver (SMTP) für den Report-Versand
smtp_server = mail.dein-provider.de
smtp_port = 587

# Absenderadresse
sender_email = absender@example.com
# Passwort für das E-Mail-Postfach
sender_password = DEIN_EMAIL_PASSWORT

# Empfängeradresse des Berichts
recipient_email = empfaenger@example.com

[Events]
# Filter: Welche Ereignistypen sollen beim Cleanup gelöscht werden
exclude_types = DHCPD, Mesh
# Anzahl der Tage, nach denen unwichtige Events gelöscht werden (0 = deaktiviert)
cleanup_excludes = 3

# Log Level Filter: 0 Notfall   1 Alarm    2 Kritisch  3 Fehler 
#                   4 Vorsicht  5 Hinweis  6 Info      7 Debug (zeigt alles)
#                   8 wie 7 Debug aber filtert 'exclude_types' aus
show_level = 4

[Charts]
# Chart-Konfigurationen für Statusreport (später GUI)
table_1 = dsl
field_1 = downstream_noise_margin # Hier können beliebige Werte aus der dsl Tabelle eingetragen werden
label_1 = Downstream Störabstand (dB) # Angezeigte Überschrift

# Zeitfenster
hours_back = 48 # Darstellungszeitraum in Stunden
start_hour = 0 # Chart beginnt um 00:00 Uhr

[Reports]
cleanup_reports = 7 # Reports älter als x Tage löschen

[Statistics]
# Diese Werte auf False setzen, um keine Auswertung zu erhalten
reconnects = True # Zeigt die Anzahl der Routereinwahlen
PADO_timeouts = True # Zeigt die Anzahl der PADO-Timeouts
